footer {
    display: flex;
    padding-left: 10vw;
    padding-right: 10vw;
    justify-content: space-between;
    background-color: #495E57;
    font-family: Karla, sans-serif;
    flex-wrap: wrap;
}

footer h2 {
    color: #EDEFEE;
}

.footer-logo img{
    width: 90px;
    margin-top: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links li {
    list-style-type: none;
}

.footer-links .home, .f-menu, .about, .reservations, .orderOnline, .login {
    text-decoration: none;
    color: #EDEFEE;
}

.home:hover, .f-menu:hover, .about:hover, .reservations:hover, .orderOnline:hover, .login:hover{
    color: #F4CE14;
}

.footer-contacts p {
    color: #EDEFEE;
}