.testimonials-container {
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #495E57;
}

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title-text {
    font-family: "Markazi Text", sans-serif;
    color: #EDEFEE;
    font-size: 1.5em;
}

.card {
    text-align: center;
    width: 450px;
    padding: 20px;
    background-color: #EDEFEE;
    border-radius: 16px;
    margin: 40px 0px 40px 0px;
    box-shadow: 5px 5px 10px gray;
}

.card img {
    width: 150px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px gray;
    margin-top: -60px;
}

.card-text, .customer-name {
    font-family: Karla, sans-serif;
    color: #495E57;
}

.stars {
    display: block;
    text-align: center;
}

.stars svg{
    width: 30px;
    color: #F4CE14;
}